@CHARSET "UTF-8";

#listDiv{ width:1000px; margin:40px auto 0 auto; }

#editBtnCol, #delBtnCol{ width:30px; padding-left:0; padding-right:3px; }

#write{	margin-left:90%; }

#docNum{ width:60px; text-align:center; }

#docEmail{ width:150px; text-align:center; }

#docContent{ width:300px; text-align:center; }

#docDate{ width:90px; text-align:center; }

#docEDate{ width:90px; text-align:center; }

#footer{ width:1000px; height:100px; }

#gitLabel{ cursor:pointer; }

#copyRight{ margin:0 auto; width:280px; }

.docNum{ text-align:center; }

.bs-callout-info{ width:1000px; border: 1px solid #eee; border-left-color: #1b809e; padding: 20px; margin: 40px auto 0 auto; border-left-width: 5px; border-radius: 3px;}
